
@font-face {
  font-family: "spoqa";
  src: url("./static/fonts/SpoqaHanSansNeo-Regular.ttf") format('woff2'),
  url("./static/fonts/SpoqaHanSansNeo-Bold.ttf") format('woff2')
}


* {
  font-family: 'spoqa';
  margin: 0;
}

